@import "../../common/colors.scss";

.header{
    background-color: $secondary-color;
    height:4rem ;
    display: flex;
    padding: 0 1rem;
    align-items: center;
    justify-content: space-around;
}
.logo{
    color: $font-primary;
    font-size:1.5rem ;
    font-weight: 600;
}
.user-image,
.user-img{
    height: 3rem;
    width: 3rem;
}